.info {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem; 
  }
  
  .infocard {
    color: white;
    background: linear-gradient(to left, rgba(68, 160, 68, 0.726), rgba(18, 139, 54, 0.87));
    padding: 1rem 2rem;
    position: relative;
    
    &__img{
     width: 100%;
    }
    
    &__titulo {
      padding: 0.4rem 0.8rem;
    }
    
    &__desc {
      margin-top: 1rem;
    }
  }
  